.navbar-orders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 70%;
    margin: 1rem auto;
}


.buttonToMenu {
    display: flex;
    flex: 1;
    margin: 10px auto;
    width: 90%;
}

.buttonToMenu button{
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #d49223;
    text-align: center;
    font-size: 1.1rem;
}

.button-group-orders {
    display: flex;
    flex: 1;
    margin: 10px auto;
    width: 90%;
}

.button-group-orders button {
    flex: 1;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #d49223;
    text-align: center;
    font-size: 14px;
}





.button-group-orders button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group-orders button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-group-orders button:not(:last-child) {
    margin-right: -1px;
    /* border: 1px solid red; */
}

@media only screen and (min-width: 768px) {


    .button-group-orders button {
        /* width: 290px; */
        padding: 8px;
        font-size: 18px;
    }

    .button-group-orders button:hover {
        background-color: #8b5e13;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar-orders {
        /* max-width: 1024px; */
        margin: 15px auto;
        flex-direction: row;
        gap: 30px;
    }

    .button-group-orders button {
        /* width: 120px; */
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        /* width: 80%; */
    }

    .button-group-orders button:hover {
        background-color: #8b5e13;
    }
}
