/* ---------------- NavBar ---------------- */

.buttonToAdd {
    display: flex;
    justify-content: flex-end;
    margin: 1.5rem auto;
    width: 90%;
}

.buttonToAdd button{
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #711E62;
    text-align: center;
    font-size: 1.1rem;
    width: 20%;
}

/* ---------------- Cards ---------------- */

.optionsProducts {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    justify-content: space-around;
}

.cardBtnEdit {
    background: #D49223;
    /* margin-left: 15%; */
}

.cardBtnDelete {
    /* margin-right: 18%; */
    background: #6D731F;
    color:  #6D731F;
}
